<nz-card nzTitle="Quick Quiz">
  <form nz-form [formGroup]="quizForm" (ngSubmit)="onSubmit()">
    <div id="question">
      <h2>{{question}}</h2>
    </div>
    <nz-form-item>
      <nz-radio-group formControlName="choice">
        <label *ngFor="let option of options"
              nz-radio
              nzValue="{{option}}"
              >
          {{option}}
        </label>
      </nz-radio-group>
    </nz-form-item>
    <button nz-button class="submitButton" [nzType]="'primary'">Check Answer</button>
  </form>
</nz-card>
