<div class="welcome-body">
  <div>
    <h1 class="welcome-text">Welcome to CoRise Articles</h1>
    <p class="subtext">Interactive Articles for Student Development</p>
  </div>
  <br>
  <div>
    <p class="subtext">
      Hey there! Get ready to dive into a wide array of awesome articles on our website.
      We've got an amazing selection for you to explore, and we're always adding fresh content to ensure you have the best experience possible.
      Stay in the know with our up-to-date knowledge, because we're constantly updating our articles to keep you in the loop. So, come on over and enjoy a fantastic journey of learning and discovery.
      We can't wait to have you onboard!
    </p>
  </div>
  <div class="create-button">
    <button nz-button nzType="primary" [nzSize]="'large'" (click)="createArticle()">
      <i nz-icon nzType="plus"></i>Create New Article
    </button>
  </div>
  <div style="margin-top: 50px;">
    <p class="subtext"> Trusted by learners from top companies </p>
    <nz-card>
      <img src="https://corise.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Frow-of-companies-black.eac2fea1.png&w=1920&q=75" alt="Card image" />
    </nz-card>
  </div>
  <br>
</div>
